<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Josh Keller: Portfolio</title>
  <meta name="description" content="Portfolio of Josh Keller, graphics editor at The New York Times.">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/13216/6525352/css/fonts.css" />
</head>
